body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  padding: 20px;
}

.App {
  text-align: center;
}

.calendar-wrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
}

.calendar-board {
  padding: 10px;
}

.day-names,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-names div,
.days div {
  padding: 10px;
  text-align: center;
}

.days .empty-cell {
  border: none;
}

.days .day-cell {
  border: 1px solid #ccc;
  margin: -1px 0 0 -1px;
}

.days .day-cell:nth-child(7n + 1) {
  color: red; /* Sunday */
}

.days .day-cell:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.days .selected {
  background-color: #007bff;
  color: #fff;
}
